{% extends 'news/base.html' %}
{% load static %}

{% block content %}

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area">
        <div class="single-hero-slide bg-img background-overlay" id="slide2" style="height: 300px;"><div class="hero-content-pages">Coaching Centers</div></div>
    </div>
    <!-- ********** Hero Area End ********** -->

    <div class="main-content-wrapper section-padding-50">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area Start ============= -->
                <div class="col-12 col-lg-12">
                    <div class="post-content-area mb-50">
                        <!-- Catagory Area -->
                        <div class="world-catagory-area">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="title">Coaching Centers</li>

                                <li class="nav-item">
                                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#world-tab-1" role="tab" aria-controls="world-tab-1" aria-selected="false">All</a>
                                </li>

                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" id="tab2" data-toggle="tab" href="#world-tab-2" role="tab" aria-controls="world-tab-2" aria-selected="false">Your Coaching Center</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab3" data-toggle="tab" href="#world-tab-3" role="tab" aria-controls="world-tab-3" aria-selected="false">Add new Coaching Center<img src="https://img.icons8.com/material-sharp/14/000000/plus-math.png"></a>
                                </li>
                                {% endif %}
                            </ul>

                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                                    <div class="row">
                                        <div class="row">
                                        {% if coaching_centers %}
                                        {% for item in coaching_centers %}
                                            <div class="col-12 col-md-6" style="padding-bottom: 10px">
                                            <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail" style="min-width:170px">
                                                    <img src="{% static "news/img/default1.png" %}">
                                                </div>

                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <h5 class="text-wrap-headline"> {{ item.name }}</h5>
                                                    <p>{{ item.description }}</p>
                                                    <!-- Post Meta -->
                                                    <div class="text-wrap-headline">
                                                        <p>E-mail : <span style="font-weight: bold">{{ item.mail }}</span>
                                                        </p>
                                                    </div>
                                                    <div class="text-wrap-headline">
                                                        <p>Address : <span style="font-weight: bold">{{ item.street_name }},{{ item.area }},{{ item.state }},{{ item.pincode }}.</span>
                                                        </p>
                                                    </div>
                                                    <div class="text-wrap-headline">
                                                        <p>Contact Details : <span style="font-weight: bold">{{ item.phone_num }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        {% endfor %}
                                        {% else %}
                                            <i>Oops!!, No Coaching Centers to show.</i>
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-2" role="tabpanel" aria-labelledby="tab2">
                                        <div class="hero-content" style="padding:0px 0px 15px 0px;  font-size:35px; color: black;">
                                            Your Coaching Centers
                                        </div><br>
                                    <div class="row">
                                        {% if user_coaching_centers %}
                                        {% for item in user_coaching_centers %}
                                            <div class="col-12 col-md-6" style="padding-bottom: 10px">
                                            <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail" style="min-width:170px">
                                                    <img src="{% static "news/img/default1.png" %}">
                                                </div>

                                                <!-- Post Content -->
                                                <div class="post-content">


                                                    <a href={% url 'sports:delete_coaching_centers' item.pk %}>
                                                        <span style="float: right"><img src="https://img.icons8.com/ios/20/000000/cancel.png"></span>
                                                    </a>


                                                    <h5 class="text-wrap-headline"> {{ item.name }}</h5>
                                                    <p>{{ item.description }}</p>
                                                    <!-- Post Meta -->
                                                    <div class="text-wrap-headline">
                                                        <p>E-mail : <span style="font-weight: bold">{{ item.mail }}</span>
                                                        </p>
                                                    </div>
                                                    <div class="text-wrap-headline">
                                                        <p>Address : <span style="font-weight: bold">{{ item.street_name }},{{ item.area }},{{ item.state }},{{ item.pincode }}.</span>
                                                        </p>
                                                    </div>
                                                    <div class="text-wrap-headline">
                                                        <p>Contact Details : <span style="font-weight: bold">{{ item.phone_num }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                                        {% endfor %}
                                        {% else %}
                                            <i>Oops!!, You don't have any Coaching Centers to show.</i>
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-3" role="tabpanel" aria-labelledby="tab3">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                        <form class="booking-form" method="post" style="width:80%">
                                            {% csrf_token %}
                                                <div class="hero-content" style="padding:0px 0px 20px 0px; font-size:35px; color: black;">
                                                    Create a Coaching Center
                                                </div>
                                            {% for field in coaching_centersForm %}
                                            <div class="form-group form-input">
                                                <span class="form-label">{{ field.label_tag }}</span><br>
                                                {{ field }}
                                                <span class="focus-input100"></span>
                                            </div>
                                            {% for error in field.errors %}
                                              <p style="font-size: 15px; color: red">{{ error }}</p>
                                            {% endfor %}
                                            {% endfor %}
                                            <br>
                                            <div class="form-submit"  style="padding-left: 110px">
                                                    <input type="submit" value="Create" class="submit" id="submit" name="submit"/>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}