{% extends 'news/base.html' %}
{% block content %}
    <div class="hero-area">
        <div class="single-hero-slide bg-img background-overlay" id="slide2" style="height: 300px;">
            <div class="hero-content-pages">Participants</div>
        </div>
    </div>
{% if not participants %}
    <h2>There are currently no participants in this tournament</h2>

{% else %}
<div style="width: 80%;text-align: center;padding: 50px 0px 50px 200px ">
    <table class="auto-index">
  <tr>
    <th>Serial number</th>
    <td>Name </td>
    <td>Email </td>
    {% for participant in participants %}
        <tr>
        <td></td>
        <td>{{ participant.name }} </td>
        <td>{{ participant.mail }} </td>
        </tr>
    {% endfor %}

</table>
</div>
{% endif %}
{% endblock %}