{% extends "news/base.html" %}
{% load static %}

{% block content %}

    <div class="hero-area">
        <div class="single-hero-slide bg-img background-overlay" id="slide2" style="height: 300px;">
            <div class="hero-content-pages">Select a Sport</div>
        </div>
    </div>
<div class="main-content-wrapper section-padding-50 mb-50">
        <div class="container">
    <div class="row justify-content-center">
                <!-- ========== Single Blog Post ========== -->
            {% for sport in sportss %}
                <div class="col-12 col-lg-3" >
                    <div class="single-blog-post post-style-3 mt-50 wow fadeInUpBig" data-wow-delay="0.2s" style="padding: 0px">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img src="{{ sport.image.url }}" alt="" style="height:200px;width:200px">
                            <!-- Post Content -->
                            <div class="post-content d-flex align-items-center justify-content-between">
                                <a href="{% url 'sports:sport-detail' sport.id %}" class="headline" style="color: white;">
                                    <br><br><h4>{{ sport.name }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
        </div>
</div>
{% endblock %}