{% extends 'news/base.html' %}
{% load static %}

{% block content %}

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area">
        <div class="single-hero-slide bg-img background-overlay" id="slide2" style="height: 300px;"><div class="hero-content-pages">Tournaments Near You</div></div>
    </div>
    <!-- ********** Hero Area End ********** -->

    <div class="main-content-wrapper section-padding-50">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area Start ============= -->
                <div class="col-12 col-lg-12">
                    <div class="post-content-area mb-50">
                        <!-- Catagory Area -->
                        <div class="world-catagory-area">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="title">Tournaments</li>

                                <li class="nav-item">
                                    <a class="nav-link active" id="tab1" data-toggle="tab" href="#world-tab-1" role="tab" aria-controls="world-tab-1" aria-selected="false">All</a>
                                </li>

                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" id="tab2" data-toggle="tab" href="#world-tab-2" role="tab" aria-controls="world-tab-2" aria-selected="false">Your tournaments</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab2" data-toggle="tab" href="#world-tab-3" role="tab" aria-controls="world-tab-3" aria-selected="false">Create a tournament <img src="https://img.icons8.com/material-sharp/14/000000/plus-math.png"></a>
                                </li>
                                {% endif %}
                            </ul>

                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                                    <div class="row">
                                        <div class="row">
                                        {% if Tournaments %}
                                        {% for item in Tournaments %}
                                            <div class="col-12 col-md-6" style="padding-bottom: 10px">
                                            <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail" style="min-width:170px">
                                                    <img src="{% static "news/img/default1.png" %}">
                                                </div>

                                                <!-- Post Content -->
                                                <div class="post-content">
                                                    <h5 class="text-wrap-headline"> {{ item.name }}</h5>
                                                    <p>{{ item.description }}</p>
                                                    <!-- Post Meta -->
                                                    <div class="text-wrap-headline">
                                                        <p>Location : <span style="font-weight: bold">{{ item.location }}</span><br>
                                                            Time: <span style="font-weight: bold">{{ item.start_date }} to {{ item.end_date }}</span></p>
                                                    </div>

                                                </div>
                                            </div>
                                            </div>
                                        {% endfor %}
                                        {% else %}
                                            <i>Oops!!, No Tournaments to show.</i>
                                        {% endif %}

                                    </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-2" role="tabpanel" aria-labelledby="tab2">
                                    <div class="row">
                                        {% if Tournaments %}
                                        {% for item in Tournaments %}
                                            <div class="col-12 col-md-6" style="padding-bottom: 10px">
                                            <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail" style="min-width:170px">
                                                    <img src="{% static "news/img/default1.png" %}">
                                                </div>

                                                <!-- Post Content -->
                                                <div class="post-content">

                                                    <span style="float: right">
                                                        <button type="button" class="btn btn-primary" style="background-color: white; border-color: white;padding: 10px" data-toggle="modal" data-target="#myModal">
                                                            <img src="https://img.icons8.com/ios/20/000000/cancel.png">
                                                        </button>
                                                    </span>

                                                    <h5 class="text-wrap-headline"> {{ item.name }}</h5>
                                                    <p>{{ item.description }}</p>
                                                    <!-- Post Meta -->
                                                    <div class="text-wrap-headline">
                                                        <p>Location : <span style="font-weight: bold">{{ item.location }}</span><br>
                                                            Time: <span style="font-weight: bold">{{ item.start_date }} to {{ item.end_date }}</span></p>
                                                    </div>
                                                </diV>

                                            </div>


                                            <div class="modal" id="myModal">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                      Do you want to delete the tournament?
                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                                                        <a href={% url 'sports:delete_tournament' item.pk %}><button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button></a>
                                                    </div>

                                                  </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}
                                        {% else %}
                                            <i>Oops!!, No Tournaments to show.</i>
                                        {% endif %}

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="world-tab-3" role="tabpanel" aria-labelledby="tab3">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <form method="post">
                                                {% csrf_token %}
                                                {% for field in tornamentFourm %}
                                                <div class="wrap-input100 validate-input">
                                                    <span class="label-input100 p-t-30">{{ field.label_tag }}</span>
                                                    {% if field.name == 'start_date' or field.name ==  'end_date' %}
                                                        (mm/dd/yy)<br>
                                                    {% endif %}
                                                    {{ field }}
                                                    <span class="focus-input100"></span>
                                                </div>
                                                {% for error in field.errors %}
                                                  <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                                {% endfor %}
                                                <input type="submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                    {% if user.is_authenticated %}
                                        <center><a href={% url 'sports:create_tournament' %}><button class="btn btn-info"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="15" height="15"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="none" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none" fill-rule="nonzero"></path><g fill="#ffffff" fill-rule="evenodd"><path d="M78.83333,14.33333v64.5h-64.5v14.33333h64.5v64.5h14.33333v-64.5h64.5v-14.33333h-64.5v-64.5z"></path></g></g></svg> Create Tournament</button></a></center>
                                    {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}