{% extends 'user_auth/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load static %}

{% block register %}
<body>
<div class="main" style="padding-top: 180px">
    <div class="container-form">
        <div class="booking-content">
            <div class="booking-form">
                <form class="booking-form" method="post">
                    {% csrf_token %}
                        <div class="hero-content" style="padding:0px 0px 30px 0px;  font-size:35px; color: black;">Log In</div>
                    {% if form.errors %}
                        <h6 style="font-size: 15px; text-align:center;color:red">Your username and password didn't match.</h6>
                    {% endif %}
                    {% for field in form %}
                    <div class="form-group form-input">
                        <span class="form-label">{{ field.label_tag }}</span><br>
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                      <p style="font-size: 15px; color: red">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    <div style="text-align:right"><a href="{% url 'forgot_pass' %}" >Forgot password?
                    </a></div>
                    <br>
                    <div class="form-submit"  style="padding-left: 110px">
                            <input type="submit" value="Log In" class="submit" id="submit" name="submit"/>
                    </div><br>

                     <div style="text-align: center; font-size: 15px">Not a member? <a href="{% url 'user_auth:register_user' %}">
                            Sign Up here.
                     </a></div>

                </form>
        </div>
        </div>
        </div>
</div>
</body>

{% endblock %}