{% extends 'user_auth/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load static %}

{% block register %}
<body>
<div class="main" style="padding-top: 180px">
    <div class="container" >
        <div class="booking-content">
            <div class="booking-form">
                 <div style="padding: 50px"><center>
        <h4 class="p-t-250">Please Confirm Your Email</h4><br>
        <h6>If you don't receive an email, please make sure you've entered the email id you registered with, and check your spam folder.
        </h6>
    </center>
</div>
        </div>

        </div>
        </div>
        </div>

</body>

{% endblock %}
