{% extends 'user_auth/base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load static %}

{% block register %}
<body>
<div class="main" style="padding-top: 180px">
    <div class="container-form">
        <div class="booking-content">
            <div class="booking-form">
            {% if validlink %}
                <form class="booking-form" method="post">
                    {% csrf_token %}
                        <div class="hero-content" style="padding:0px 0px 30px 0px;  font-size:35px; color: black;">Password Reset</div>
                    {% for field in form %}
                    <div class="form-group form-input">
                        <span class="form-label">{{ field.label_tag }}</span><br>
                        {{ field }}
                    </div>
                    {% for error in field.errors %}
                      <p style="font-size: 15px; color: red">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    <br>
                    <div class="form-submit">
                        <center><input type="submit" value="Change Password" class="submit" id="submit" name="submit"/></center>
                    </div><br>
                </form>
                {% else %}
                    <center><h3 style="padding: 50px">The password reset link was invalid, possibly because it has already been used.
                      Please request a new password reset.</h3>
                    </center>
                {% endif %}
        </div>
        </div>
        </div>
</div>
</body>

{% endblock %}